.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding: 0;
}
#top_nav{
	display: block;
	padding-top: 2px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e9e9e9;
    height: 25px;
    color: #777;
}

#top_nav span a, #top_nav span a{
	color: #777;
    text-decoration: none;
}

#header-top{
	padding: 5px 0 0 2px;
}
#logo{
	display: inline-block;
}

#logo .logo-img{
	background-image: url('../images/logo.png');
	display: block;
	background-repeat:no-repeat; 
	background-size:100% 100%;
    width: 200px;
    height: 60px;
}

#top_ad{
	display: inline-block;
	float: right;
}

#top_ad a img{
	height: 60px;
	float: right;
}
#menu .navbar-collapse{
	padding-left: 0;
}
#menu .navbar{
	margin-bottom: 5px;
}
#copyright{
	background-color: #f8f8f8;
	padding: 8px 0;
}
.copyright-l{
	padding-left: 15px;
}
.copyright-l p{
	margin-bottom: 0;
}
.copyright-l p a{
	color: #777;
    text-decoration: none;
}
.copyright-l ul{
	padding: 10px 5px 14px 15px;
	margin-bottom: 0;
	list-style-type: none;
	border-right: 1px solid #e9e9e9;
}
.copyright-l ul li{
	line-height: 2;
}
.copyright-l ul li a{
	color: #777;
}
.copyright-r{
	padding-right: 15px;
}
.copyright-r .webinfo{
	border-right: 1px solid #e9e9e9;
}
.copyright-r .webinfo p{
	margin: 3px 0;
	padding: 0 10px;
	line-height: 2;
	color: #777;
}
.copyright-r .webinfo p a{
	color: #777;
}
.copyright-r .qcode img{
	width: 100px;
	height:100px;
	display: block;
	margin: 1px auto;
}
.copyright-r .qcode p{
	text-align: center;
	color: #777;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
}
#footer-bottom{
	background-color: #f8f8f8;
	border-top: 1px solid #e9e9e9;
}
#footer-bottom p{
	margin: 5px 0;
	line-height: 2;
	color: #777;
}
#footer-bottom p a{
	color: #777;
}
